body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
p, h1, h2, h3, h4, h5, h6, span, ul, li {
    font-family: helvetica, sans-serif;
    color: #000;
}
header {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}
footer {
    background-color: #9C232B;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    margin-top: auto;
}
footer * {
    color: #fff;
    font-size: 15px;
}
main {
    display: flex;
    flex-direction: column;
}
#logoText {
    display: inline;
    color: #9C232B;
}
#totalDeathsChart {
    margin-left: 1rem;
}
.lineDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chartLoading {
    margin: 1rem 0;
    width: 6rem;
    height: 6rem;
}
.chart {
    display: flex;
    justify-content: center;
    margin-left: -1rem;
}
.totalContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    padding: 0 10px;
}
.localizacaoContainer {
    display: flex;
    height: 50px;
    width: 100vw;
    background-color: #9C232B;
    
    align-items: center;
    justify-content: center;
}
.localizacaoContainer * {
    color: #fff;
}
.numerosConfirmados{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 21px; /*Gambiarra*/
}
.titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleIcon{
    margin-top: 1.80rem;
    width: 35px;
    height: 35px;
    color: #000;
}
.paddingDireita{
    padding-right: 0.95rem;
}
.paddingEsquerda{
    padding-left: 0.95rem;
}
.globalRankingTitle {
    margin-left: 1rem;
    margin-bottom: -1rem;
}
.rankingPerMillion{
    margin-left: 1rem;
    margin-bottom: -1rem;
    margin: 2rem 1.5rem -1rem auto;
    text-align: right
}
.apexcharts-tooltip * {
    color: #f3f3f3;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-top: 2rem;
}
.backButton {
    height: 40px;
    padding: 0 15px;
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #9C232B;
    cursor: pointer;
}
.backButton h3 {
    color: white;
}
.goBackIcon{
    height: 24px;
    width: 24px;
    color: white;
    margin-right: 10px;
}
.deathsTitle {
    display: flex;
    height: 50px;
    width: 100vw;
    
    flex-direction: column;
    align-items: center;
}
.deathsLine {
    width: 100%;
    height: 25px;
    display: flex;
    border-bottom: 1px groove #ddd;
    
    align-items: center;
    justify-content: center;
}
.deathsTextContainer {
    background-color: white;
    padding: 0 2rem;
    display: flex;
    height: 50px;
    margin-bottom: -25px;
    justify-content: center;
    align-items: center;
}
.deathsHighlight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    padding: 0rem 1rem;
    background-color: black;
    border-radius: 1rem;
}
.deathsHighlight * {
    color: white
}
.totalDeaths {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.datesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5rem;
}
.deathsNumberTitle{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}
.deathsNumberTitle h2 {
    font-weight: 400;
}
.deathsPerMillionTitle{
    font-weight: 400;
}
.deathsPerMillionContainer {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.deathsPerMillionIcon {
    margin-right: 1rem;
    width: 35px;
    height: 35px;
    color: #000;
}
.vaccinesContainer {
    display: flex;
    flex-direction: column;
    background-color: #3BBCC0;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
}
.vaccinesContainer *{
    color: white;
}
.percentualVacinated{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.vaccinesInfo {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vaccinesInfo h3 {
    color: #35a5a9
}
.vaccinesInfo * {
    padding: 0 .75rem;
}
.syringeIcon{
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    color: #3BBCC0;
}
.vaccinesHighlight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    padding: 0rem 1rem;
    background-color: #3BBCC0;
    border-radius: 1rem;
    width: 6rem;
    margin-bottom: 1.5rem;
}
.vaccinesHighlight * {
    color: white;
}